body {
  margin: 0;
}
/* Hero */
.hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
}


header ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 12px;
  color: #E5E7EB;
  font-size: 18px;
}

.content {
  width: 80%;
  display: flex;
  padding: 60px 0;
}

.content div {
  flex: 1;
}

.content h1 {
  margin: 8px 0 ;
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.content p {
  margin: 8px 0;
  font-size: 18px;
  color: #E5E7EB;
}

.content button {
  padding: 4px 22px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 10px;
  border: none;
}

.content .left {
  padding-right: 50px;
}
.content .right {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards */
.border {
  width: 150px;
  height: 150px;  
  border: 2px solid #3882F6;
  border-radius: 10px;
  }

.card { 
  margin: 20px;
  width: 150px;
  text-align: center;
}

.cards { 
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info p {
  font-size: 24px;
  font-weight: bold;
}